
/* Footer */
.site-footer {
  background-color: #0d301d;
  color: #ffffff;
  padding: 80px 20px;
  margin-top: 20px;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .footer-col h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-col ul li {
    margin-bottom: 12px;
  }

  .footer-col a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-col a:hover {
    text-decoration: underline;
  }

  .footer-item {
    font-size: 14px;
    margin-bottom: 14px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .footer-newsletter input {
    width: 250px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .footer-newsletter button {
    // width: 100%;
    padding: 12px;
    background-color: #ffb000;
    border: none;
    border-radius: 4px;
    // font-weight: bold;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
    color: #3a2a20;
    letter-spacing: 1px;
  }

  .footer-newsletter button:hover {
    background-color: #e6a000;
  }

  /* Responsive */
  @media (max-width: 900px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  }

  /* New footer */

  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://fonts.gstatic.com/s/karla/v33/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaHUlKd7c.woff2) format('woff2');
    unicode-range: U +0100 -02BA, U +02BD -02C5, U +02C7 -02CC, U +02CE -02D7, U +02DD -02FF, U +0304, U +0308, U +0329, U +1D00 -1DBF, U +1E00 -1E9F, U +1EF2 -1EFF, U +2020, U +20A0 -20AB, U +20AD -20C0, U +2113, U +2C60 -2C7F, U + A720-A7FF;
  }

  @font-face {
    font-family: 'Komet Heavy';
    src: url(https://carolinacookie.com/content/fonts/fonnts.com-Komet_Heavy.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gabarito/v9/QGYtz_0dZAGKJJ4t3HtmW4XUng.woff2) format('woff2');
    unicode-range: U +0100 -02BA, U +02BD -02C5, U +02C7 -02CC, U +02CE -02D7, U +02DD -02FF, U +0304, U +0308, U +0329, U +1D00 -1DBF, U +1E00 -1E9F, U +1EF2 -1EFF, U +2020, U +20A0 -20AB, U +20AD -20C0, U +2113, U +2C60 -2C7F, U + A720-A7FF;
  }

  .footer .accordion-content {
      display: block;
      padding: 0;
  }

  .footer-info-list {
      list-style: none;
      margin-left: 0;
  }

  .footer-info-list li {
    font-weight: 400;
    font-size: 12px;
  }

  .footer-info-list a {
    color: #757575;
    text-decoration: none;
    font-family: Gabarito;
    font-weight: 400;
    font-size: 12px;
    line-height: 118%;
    letter-spacing: 3%;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
  }

  .footer-info-list a {
    color: #757575;
    text-decoration: none;
  }

  .footer-info-heading {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 400;
    font-family: Komet Heavy;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .footer-info-heading, .footer-info-list a, .footer-info-list a:hover {
    color: white;
  }

  .footer-info-col>:first-child {
      margin-top: 0;
      margin-bottom: 12px;
  }

  .footer-info-col {
    padding-left: .75rem;
    padding-right: .75rem;
    width: 100%;
    float: left;
    color: #757575;
    display: inline-block;
    float: none;
    font-size: 1rem;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: top;
    -ms-word-break: break-all;
  }

  .footer-newsletter .button, .footer-newsletter .button:hover {
    background: #F6A601;
    font-size: 12px;
    width: 200px;
    height: 40px;
    font-family: 'Copperplate';
    font-weight: 500;
    color: #314B42;
  }

  @media (min-width: 551px) {
    .footer-info-col {
        text-align: left;
        width: 50%;
    }
  }

  @media (min-width: 801px) {
    .footer-info-col--small {
        width: 16.66667%;
    }
  }

  @media (min-width: 801px) {
    .footer-info-col--small {
        margin: 0 40px;
    }

    .footer-info-col--small p, 
    .footer-info-col--small a {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {

    .footer-logo {
      display: none;
    }

    .site-footer {
      padding: 0;
    }

    .footer-info {
      margin: 0 1.5rem !important;
      display: flex;
      flex-direction: column;
    }

    .footer-info-col.contact-info {
      order: -1; /* keep in top */
    }

    .footer-info-col.contact-form {
      margin: 20px 0 40px 0;
    }

    .accordion-header {
      cursor: pointer;
      position: relative;
    }

    .accordion-header::after {
      content: url(https://cdn11.bigcommerce.com/s-fr5gzufqwh/images/stencil/original/image-manager/down-arrow.png?t=1754290640);
      position: absolute;
      right: 0;
    }

    .accordion-item.active .accordion-header::after {
      content: url(https://cdn11.bigcommerce.com/s-fr5gzufqwh/images/stencil/original/image-manager/up-arrow.png?t=1754291090);
    }

    .accordion-content {
      display: none;
      padding: 1rem;
    }

    .accordion-item.active .accordion-content {
      display: block;
    }

    h3.accordion-header {
      padding-top: 16px;
      margin-bottom: 0;
    }

    .footer-info-col>:first-child {
      margin-top: 0;
      margin-bottom: 24px;
    }

    .accordion-item h3.accordion-header {
      border-top: 2px solid #fff;
    }

  }


  /* End New footer */
}
/* End Footer */