.order-summary {
  font-size: fs('sm');

  @include breakpoint("medium") {
    font-size: fs('base');
  }

  &__title {
    text-align: center; 
    font-weight: bold; 
    color: #315B42;
    font-size: fs('lg');
  }

  &__cart-items {
    background-color: #fff;
    padding: 20px;
    margin-inline: 40px;
  }

  &__cart-item {
    display: flex;
  }

  &__cart-item.header {
    font-weight: bold;
    padding-bottom: space(5);
  }
  
  &__consignment {
    border-top: 2px solid rgb(204, 204, 204); 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px;
  }

  &__footer {
    margin-top: 20px; 
    display: flex; 
    justify-content: space-between;

    .cart-summary {
      width: 40%;
      background-color: #fff;
    }
  }
}