html {
  font-size: 16px; // default
}

@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

$space: (
  0: 0,
  1: rem(4),
  2: rem(8),
  3: rem(12),
  4: rem(16),
  5: rem(24),
  6: rem(32),
  7: rem(48),
  8: rem(64)
);

@function space($step) {
  @return map-get($space, $step);
}

$font-sizes: (
  xs: rem(12),
  sm: rem(14),
  base: rem(16),
  md: rem(18),
  lg: rem(20),
  xl: rem(24),
  xxl: rem(32)
);

@function fs($key) {
  @return map-get($font-sizes, $key);
}
